header {
    background: linear-gradient(#0e276a, #1a3ea1);
    width: 100vw;
    height: 400px;
    max-height: 40vh;
    position: relative;
    overflow: hidden;


}



.background {
    display: block;
    width: calc(100vw + 500px);
    height: calc(100% + 400px);
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    rotate: 5deg;
    animation: backgroundText 20s infinite linear;
    background-size: 500px;
}

.background-container {
    position: absolute;
    width: 100vw;
    height: 82%;
    overflow: hidden;
}

@keyframes backgroundText {
    0% {
        top: -200px;
        left: 0px;
    }

    100% {
        top: -244px;
        left: -500px;
    }
}

.harden {
    position: absolute;
    left: 50vw;
    height: 110%;
    z-index: 6;
    bottom: -10%;
    transform: translateX(-50%);
}

.james-hardle-text {
    color: #c5c5c5;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 65px;
    z-index: 2;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 200%;
}

.title-james {
    font-size: 96px;
}

.title-hardle {
    font-size: 86px;
}

.outlined-james {
    font-size: 96px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #c5c5c5;
}

.outlined-hardle {
    font-size: 86px;
    color: #c5c5c5;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #c5c5c5;
}


.arrow-up {
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid white;
}

.dropdown-container {
    z-index: 8;
    position: relative;
    width: fit-content;
    transform: scale3d(10px);
}

.dropdown {
    background-color: #0b1a43;
    color: white;
    font-family: "Antonio", sans-serif;
    line-height: 100%;
    font-weight: 500;
    padding: 13px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.dropdown-arrow {
    width: 12px;
    transition: 0.3s;
}

.dropdown-open-container {
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    margin-top: 20px;
}

.dropdown-open {
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    width: calc(100% - 6px);
}

.dropdown-item {
    padding: 8px;
    text-align: left;
    background-color: white;
    border-radius: 3px;
    border: none;
    transition: 0.3s;
}

.dropdown-item:hover {
    filter: brightness(0.84);
}

.dropdown-item:last-child {
    border: none;
}

#dropdown:checked+.dropdown-container .dropdown-arrow {
    transform: rotate(-180deg);
}

#dropdown:checked+.dropdown-container .dropdown-open-container {
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
}




.background-old {
    background-color: rgb(41, 41, 41);
    z-index: 0;
}


.background-new {
    position: absolute;
    background-color: rgb(41, 41, 41);
    height: 100%;
    left: -30vw;
    width: 0vw;
    overflow: hidden;
    transform: skewX(-30deg);
    z-index: 7;
}

.background-animation {
    animation: backgroundTransition 1 4s;
}

.background-new-inner {
    position: absolute;
    left: 80vw;
    width: 100vw;
    height: 100%;
    transform: skewX(30deg) translateX(-50%);
}


.wall {
    width: 100vw;
    top: 0;
    height: 78%;
    background-image: url(../../assets/images/grid.png);
    background-size: 20px;
    position: absolute;
    z-index: 0;
}

.floor {
    background: linear-gradient(#00000034, #0000005b);
    width: 120vw;
    height: 22%;
    left: -10%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    z-index: 2;
    box-shadow: 0px 0px 160px 60px #0000007d;
}

@keyframes backgroundTransition {
    80% {
        width: 160vw;
    }
}