main {
    position: relative;
    z-index: 3;
    border-top: #b91010 4px solid; 
    background-color: #f7f7f7;
   
}

.searchbar-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.searchbar {
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center left 10px;
    padding: 9px;
    padding-left: 34px;
    width: 300px;
    max-width: calc(100% - 20px);
    border: 1.5px solid #dcdcdc;
    border-radius: 20px;
    color: #181818;
    transition: border 0.2s, box-shadow 0.2s;
}

.searchbar:focus {
    border: 2px solid #b91010;
    box-shadow: 0px 0px 0px 1px #e79b9b;
    outline: 0 none;
}